.stats {
	position: relative;
	padding: 10px;

	table {
		thead th {
			cursor: default;
			font-weight: 400;
			color: gray;
			text-decoration: underline;
		}

		tbody {
			white-space: nowrap;
 
			td:first-child {
			}

			td:not(:first-child) {
				font-weight: 600;
			}

			td {
				border-left: none;
				margin: 0;
				padding: 0;
			}
		}
	}	
}