
@import '../../reactutils/src/consts';

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/VT323-Regular.ttf') format('truetype');
}

* {
	box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 16pt;
}

body, html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	background-size: cover;
	background-image: url('./assets/imgs/bgMin.jpg');	
}

#root {
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.mainForm {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 45%;
	min-width: fit-content;
	padding: 3% 5%;
	border-radius: 30px;

	background-color: #FFF334;
	-webkit-box-shadow: 0px 0px 15px 28px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 0px 15px 28px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 15px 28px rgba(0, 0, 0, 0.2);
	
	& > label {
		display: flex;
		position: relative;
		flex-direction: column;
	
		width: 100%;
		height: 100%;

		p {
			display: flex;
			position: relative;
			padding: 2% 2% 2% 2%;
			margin: 0;
		}

		input[type="text"] {
			border: none;
			border-radius: 10px;
			padding: 10px;
			text-align: center;

			padding: 7pt;
			background: white;
			@include inner-glow;

			&:focus {
				outline: none;
			}
		}
	}

	button {
		display: flex;
		position: relative;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	
		width: 100%;
		height: 100%;

		border: none;
		border-radius: 10px;
		margin: 10px;
		height: 28pt;
		text-align: center;
		padding: 10pt;

		color: black;
		text-decoration: none;
		background: white;
		
		&:not([disabled]) {
			cursor: pointer;

			&:hover {
				@include inner-glow;
			}
		}

		transition: color .3s;

		&[disabled] {
			color: lightgray;

			cursor: not-allowed;
		}

		&:active {
			@include inner-glow-deep;
		}

		@include inner-glow-base;
	}
}

.preloader {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;	
}

@-moz-keyframes spin { 
    100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
    100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}